<div *ngIf="role == 'MOD'">
  <div style="    margin-left: auto;margin-right: auto;width: 20em; margin-bottom: 20px">
        <a mat-button routerLink='users' routerLinkActive='active' class="waves-effect waves-light btn homeButton">USERS</a>
        <a mat-button routerLink='positions' routerLinkActive='active' class="waves-effect waves-light btn homeButton">POSITIONS</a>
        <a mat-button routerLink='tests' routerLinkActive='active' class="waves-effect waves-light btn homeButton">TESTS</a>
  </div>
</div>
<div *ngIf="role == 'RED'">
  <div style="    margin-left: auto;margin-right: auto;width: 20em; margin-bottom: 20px">
    <a mat-button routerLink='tests' routerLinkActive='active' class="waves-effect waves-light btn homeButton">TESTS</a>
  </div>
</div>
<div *ngIf="role == 'CAN'">
  <div style="    margin-left: auto;margin-right: auto;width: 20em; margin-bottom: 20px">
    <a mat-button routerLink='candidatePanel' routerLinkActive='active' class="waves-effect waves-light btn homeButton">TESTS</a>
  </div>
</div>
<div>
  <router-outlet></router-outlet>
</div>

